<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EXILED" version="6.1.0-rc.0-4" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.3.0-alpha.5" targetFramework="net48" />
  <package id="LiteDB" version="5.0.16" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net48" />
  <package id="MonoModReorg.Backports" version="23.3.22.1" targetFramework="net48" />
  <package id="MonoModReorg.Core" version="23.3.22.1" targetFramework="net48" />
  <package id="MonoModReorg.ILHelpers" version="23.3.22.1" targetFramework="net48" />
  <package id="MonoModReorg.Utils" version="23.3.22.1" targetFramework="net48" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net48" />
  <package id="YamlDotNet" version="13.1.0" targetFramework="net48" />
</packages>