<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PluginAPI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.2.0" newVersion="13.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>